<table class="table table-dark table-striped-columns">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">id</th>
        </tr>
    </thead>
    <tbody>
        {{#if productos.length}}
            {{#each productos}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td><img width="77" height="77" src={{this.thumbnail}}></td>
                <td>{{this.id}}</td>
            </tr>
            {{/each}}
        {{else}}  
        <tr>
            <td style="color: red;">NO HAY DATOS</td>
            <td style="color: red;">NO HAY DATOS</td>
            <td style="color: red;">NO HAY DATOS</td>
            <td style="color: red;">NO HAY DATOS</td>
        </tr>
        {{/if}}
    </tbody>
</table>
<button type="button" class="btn btn-dark" style="width: 130px; margin-left: 50%; transform: translateX(-50%);" onclick="location.href='/'">Formulario</button>
